* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vh;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  width: 384px;
  background-color: hsl(0, 0%, 100%);
  padding: 24px;
}
.card-content {
  margin: 24px 0px;
}
