* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
}
.card {
  max-width: 384px;
  background-color: hsl(0, 0%, 100%);
  padding: 24px;
  box-shadow: 8px 8px #111;
  border-radius: 20px;
  border: 1px solid #111;
  line-height: 1.5;
}
.card-content {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}
.card-badge {
  background-color: #f4d04e;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: 800;
  font-size: 14px;
}

.card-content-date {
  font-size: 14px;
  font-weight: 500;
}

.card-content-title {
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
}
.card-content-title:hover {
  color: #f4d04e;
}

.card-content-desc {
  font-size: 16px;
  font-weight: 500;
  color: #6b6b6b;
}

.card-img {
  border-radius: 10px;
}
.card-author img {
  width: 32px;
  height: 32px;
}
.card-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.card-author-name {
  font-size: 14px;
  font-weight: 800;
}
